#
# Nullplatform - Specific Variables
#
# Usage: tofu plan -var-file=../common.tfvars -var-file=./terraform.tfvars
#

# Scope Definition
service_path = "k8s"

# Dimensions
environments = ["development", "staging", "production"]
