args:
  - "--tags=$(TAGS)"
  - "--apikey=$(NP_API_KEY)"
  - "--runtime=host"
  - "--command-executor-env=NP_API_KEY=$(NP_API_KEY)"
  - "--command-executor-debug"
  - "--webserver-enabled"
  - "--command-executor-git-command-repos $(AGENT_REPOS)"
  - "--cluster-name=$(CLUSTER_NAME)"
  - "--namespace=$(NAMESPACE)"
  - "--private-hosted-zone-rg=$(PRIVATE_HOSTED_ZONE_RG)"
  - "--private-gateway-name=$(PRIVATE_GATEWAY_NAME)"
  - "--public-gateway-name=$(PUBLIC_GATEWAY_NAME)"
  - "--resource-group=$(RESOURCE_GROUP)"
  - "--azure-subscription-id=$(AZURE_SUBSCRIPTION_ID)"
  - "--azure-client-secret=$(AZURE_CLIENT_SECRET)"
  - "--azure-client-id=$(AZURE_CLIENT_ID)"
  - "--azure-tenant-id=$(AZURE_TENANT_ID)"

configuration:
  values:
    NP_API_KEY: "${api_key}"
    TAGS: "${tags}"
    AGENT_REPOS: "${agent_repos}"
    CLUSTER_NAME: "${cluster_name}"
    NAMESPACE: "${namespace}"
    PRIVATE_HOSTED_ZONE_RG: "${private_hosted_zone_rg}"
    PRIVATE_GATEWAY_NAME: "${private_gateway_name}"
    PUBLIC_GATEWAY_NAME: "${public_gateway_name}"
    RESOURCE_GROUP: "${azure_resource_group}"
    AZURE_SUBSCRIPTION_ID: "${azure_subscription_id}"
    AZURE_CLIENT_SECRET: "${azure_client_secret}"
    AZURE_CLIENT_ID: "${azure_client_id}"
    AZURE_TENANT_ID: "${azure_tenant_id}"

image:
  tag: "${image_tag}"